name: Coverage
on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"
  CARGO_INCREMENTAL: 0

jobs:
  get_msrv:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.rust_msrv.outputs.version }}
    steps:
    - uses: actions/checkout@v4
    - name: Get MSRV
      id: rust_msrv
      run: |
        RUST_MSRV="$(grep '^rust-version' Cargo.toml | sed 's/.*"\(.*\)".*/\1/')"
        echo "Found MSRV: $RUST_MSRV"
        echo "version=$RUST_MSRV" >> "$GITHUB_OUTPUT"

  coverage:
    needs: [get_msrv]
    runs-on: warp-ubuntu-latest-x64-4x
    name: Coverage
    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM and system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm lld libudev-dev libsystemd-dev

      - name: Install Rust ${{ needs.get_msrv.outputs.version }}
        run: |
          rustup toolchain install ${{ needs.get_msrv.outputs.version }} --profile minimal
          rustup override set ${{ needs.get_msrv.outputs.version }}
          rustup component add rust-src --toolchain ${{ needs.get_msrv.outputs.version }}
          rustup target add wasm32-unknown-unknown --toolchain ${{ needs.get_msrv.outputs.version }}

      - uses: Swatinem/rust-cache@v2
        with:
          cache-provider: warpbuild
          shared-key: "linux-${{ needs.get_msrv.outputs.version }}-coverage"
          cache-all-crates: true

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov

      - name: Rust version
        run: rustc --version --verbose

      - name: Generate code coverage
        run: cargo +${{ needs.get_msrv.outputs.version }} llvm-cov --lcov --output-path llvm-cov-output.lcov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          files: ./llvm-cov-output.lcov
          verbose: true
