name: Test & Release

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: '-D warnings'
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: short

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install libudev (Linux only)
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get -y install libudev-dev libsystemd-dev
    - name: Run clippy
      run: cargo clippy --all-targets -- -D clippy::all -D clippy::nursery

  cargo-fmt:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run cargo fmt
      run: cargo fmt --check

  cargo-doc:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install libudev (Linux only)
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get -y install libudev-dev libsystemd-dev
    - name: run cargo doc
      run: RUSTDOCFLAGS="-D warnings" cargo doc

  check-windows:
    needs: cargo-fmt
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run cargo check
      run: cargo check --release

  no_features_check:
    needs: cargo-fmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run cargo check
      run: cargo check --no-default-features

  get_msrv:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Get MSRV
      id: RUST_MSRV
      run: |
        RUST_MSRV="$(cat Cargo.toml | sed -n 's/rust-version *= *"\(.*\)"/\1/p')"
        echo "Found MSRV: $RUST_MSRV"
        echo "{ \"RUST_MSRV\": \"$RUST_MSRV\" }" >> "$GITHUB_OUTPUT"

  test:
    needs: [cargo-fmt, get_msrv]
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]
        toolchain:
          - stable
          - ${{ fromJSON(needs.get_msrv.outputs.RUST_MSRV) }}
    runs-on: ${{ matrix.platform }}
    name: CI with ${{ matrix.toolchain }}
    steps:
    - uses: actions/checkout@v4
    - name: debug
      run: | 
        echo "needs.get_msrv.outputs: ${{ fromJSON(needs.get_msrv.outputs) }}"
        echo "needs.get_msrv.outputs.RUST_MSRV: ${{ fromJSON(needs.get_msrv.outputs.RUST_MSRV) }}"
    - name: "${{ matrix.toolchain }}"
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.toolchain }}
        default: true
    - uses: Swatinem/rust-cache@v1
    - name: Install libudev (Linux only)
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get -y install libudev-dev libsystemd-dev
    - name: Check with stable features
      run: cargo check --examples --all-features
    - name: Run tests
      run: cargo test
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v6
